# Dependencies
node_modules/
.parcel-cache/
dist/

# Environment Variables (CRITICAL: Do not leak these!)
*.env
.env
.env.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store